<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HibernateAssist</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>com.to.InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>com.to.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProducts1</servlet-name>
    <servlet-class>com.to.ListProducts1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts1</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitHibernatelog4</servlet-name>
    <servlet-class>com.to.InitHibernatelog4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernatelog4</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>com.to.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetails1</servlet-name>
    <servlet-class>com.to.ProductDetails1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails1</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  
</web-app>